<table>
    <thead>
        <tr>

        
        <th>Nom Prénom</th>
        <th>Numéro d'Identité Nationale</th>
        <th>Numéro de Téléphone</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <% Nom Prénom %>
            </td>
            <td>
                <% Numéro d'Identité Nationale %>
            </td>
            <td>
                <% Numéro de Téléphone %>
            </td>
            <td>
                <% Email %>
            </td>

        </tr>

    </tbody>
</table>